#act-detail {
    display: flex;
    justify-content: center;
    .container {
      width: 1200px;
    }
    // .here {
    //   height: 50px;
    //   line-height: 50px;
    //   color: #b8b8b8;
    //   font-size: 14px;
    // }
    .content {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .left {
        width: 280px;
        .top-active {
          color: #e60012;
        }
        .left-top {
          .option {
            width: 260px;
            height: 55px;
            line-height: 55px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #e6e6e6;
            &:hover {
              cursor: pointer;
            }
            span {
              margin-left: 5px;
            }
          }
        }
        .left-bottom {
          border: 1px solid #e6e6e6;
          text-align: center;
          margin: 20px 0;
          padding-top: 20px;
        }
      }
      .right {
        width: 900px;
        border: 1px solid #e6e6e6;
        .top {
          text-align: center;
          p {
            color: #a9a9a9;
            font-size: 15px;
            .detail {
              margin: 0 5px;
            }
          }
        }
        .main {
          width: 800px;
          margin: 30px 50px;
          .desc {
            color: #666666;
            font-size: 16px;
            line-height: 30px;
          }
          .images {
            text-align: center;
            margin: 15px 0;
          }
        }
        .bottom {
          text-align: center;
          border-top: 1px solid #e6e6e6;
          height: 100px;
          line-height: 100px;
          margin-top: 10px;
          font-size: 15px;
          .item {
            margin: 0 30px;
            .case-name {
              color: #a9a9a9;
            }
          }
          .insert {
            border-left: 1px solid #e6e6e6;
          }
        }
      }
    }
  }